html {
  background: url('../src/assets/images/fiber-optics.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div.background { 
  background: url('../src/assets/images/fiber-optics.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.transbox {
  margin: 30px;
  background-color: #363232;
  border: 1px solid rgba(0, 0, 0, 0);
  opacity: 0.98;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox h1 {
  position:relative;
  margin: 5%;
  font-weight: bold;
  color: #eeebd3;
}

.card-top {
  margin-top: 100px;
}
.about-centered {
  align-items: center;
}

.gradient-teal-fill {
  background: rgb(67,124,144);
background: linear-gradient(90deg, rgba(67,124,144,1) 27%, rgba(64,166,162,1) 100%);
}

.nav-text {
  color: #EEEBD3;
}

.logo {
  padding-right: 20px;
}

.float-r {
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 40px;
}
.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}

.footer {
bottom:0;
width:100%;
}
