:root {
  --primary: #497573;
  --secondary: rgb(67,124,144);
  --tertiary: #b2c2c1;
  --quatrinary: #cadbda;
  --lnk: #799abb;
  --dark-teal: #4a7776;
  --light: #e1f5f4;
  --dark: #363232;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
  --spacing-one: calc(1rem * 0.25);
  --spacing-two: calc(1rem * 0.5);
  --spacing-three: 1rem;
  --spacing-four: calc(1rem * 1.5);
  --spacing-five: calc(1rem * 3);
}

html {
  background: url("../src/assets/images/fiber-optics.jpg") no-repeat center
    center fixed;
  -webkit--size: cover;
  background: url('../src/assets/images/fiber-optics.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin-bottom: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(../src/assets/images/fiber-optics.jpeg);
  background-size: cover;
}

div.background { 
  background: url('../src/assets/images/fiber-optics.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

div.transbox {
  margin: 30px;
  background-color: #363232;
  border: 1px solid rgba(0, 0, 0, 0);
  opacity: 0.98;
}

div.transbox p {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

div.transbox h1 {
  position: relative;
  margin: 5%;
  font-weight: bold;
  color: #eeebd3;
}

.card-top {
  margin-top: 100px;
}
.about-centered {
  align-items: center;
}

.gradient-teal-fill {
  background: rgb(67,124,144);
  background: linear-gradient(90deg, rgba(67,124,144,1) 27%, rgba(64,166,162,1) 100%);
  background: rgb(67, 124, 144);
  background: linear-gradient(
    90deg,
    rgba(67, 124, 144, 1) 27%,
    rgba(64, 166, 162, 1) 100%
  );
}

.nav-text {
  color: #eeebd3;
}

.logo {
  padding-right: 20px;
}

.float-r {
  float: right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contents {
  margin: 30px;
  margin-top: -50px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  right: 0;
  width: 100%;
  height: 4rem;
}
/* CSS for Blog*/

.blog-section {
  min-height: 75vh; /* was 100vh*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(90deg, rgba(67,124,144,1) 27%, rgba(64,166,162,1) 100%);
}

.containr {
  width: 90%;
  max-width: 90%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contains-box {
width: 65%;
height: 500px;
background: rgb(64,166,162);
background: radial-gradient(circle, rgba(64,166,162,1) 8%, rgba(64,124,144,1) 52%, rgba(39,86,103,1) 93%);/* background-color: var(--primary); */
border-radius: 8px;
}

.contains-tabs {
  width: 65%;
  height: 445px;
  background: rgb(202,219,218);
  background: linear-gradient(0deg, rgba(202,219,218,0.4990371148459384) 26%, rgba(202,219,218,0.9304096638655462) 89%);
    /* background-color: var(--quatrinary); */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  padding: 15px;
  border-radius: 8px;
  margin-left: -500px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #799abb !important;
  background-color: #e1f5f4 !important;
  border-color: #b2c2c1 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #E3ECEB!important;
  border-width: 2px;
}

.nav-link {
  color: #437C90 !important
}
.nav-link:focus, .nav-link:hover {
  color: #6b446b !important
}

/* CSS for Login*/
.auth-inner {
  background: 0 !important;
}

.login-section {
  margin-top: -50px;
  margin-bottom: 50px;
  min-height: 75vh; /* was 100vh*/
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: linear-gradient(90deg, rgba(67,124,144,1) 27%, rgba(64,166,162,1) 100%);
}

.containr-login {
  width: 50%;
  max-width: 50%;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
width: 100%;
height: 500px;
background: rgb(64,166,162);
background: radial-gradient(circle, rgba(64,166,162,1) 8%, rgba(64,124,144,1) 52%, rgba(39,86,103,1) 93%);/* background-color: var(--primary); */
border-radius: 8px;
}

.login-form {
  width: 90%;
  height: 445px;
  background: rgb(202,219,218);
  background: linear-gradient(0deg, rgba(202,219,218,0.4990371148459384) 26%, rgba(202,219,218,0.9304096638655462) 89%);
    /* background-color: var(--quatrinary); */
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
  padding: 15px;
  border-radius: 8px;
  margin-left: -325px;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #799abb !important;
  background-color: #e1f5f4 !important;
  border-color: #b2c2c1 !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: #E3ECEB!important;
  border-width: 2px;
}

.nav-link {
  color: #437C90 !important
}
.nav-link:focus, .nav-link:hover {
  color: #6b446b !important
}


/* .blog-tab {
  margin: 30px;
  width: 70%;
  border: solid 5px rgb(67,124,144);
} */



.meet-creators {
  text-align: center;
  color: paleturquoise;
}

/* .cards {
  display: flex;
  padding: 30px;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.card {
  border: 3px solid black;
  border-radius: 35px;
  background-color: paleturquoise;
}

.card-body {
  display: flex;
  padding: 20px;
  gap: 15px;
  width: 350px;
  height: 350px;
  cursor: pointer;
}

.card-left-portion {
  padding-left: 3px;
}

.alumni-speciality {
}

.card-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.card-right-portion {
  width: 100%;
  word-break: break-all;
  overflow: auto;
}

.card-name {
  text-align: center;
}

.card-footer {
  text-align: center;
  background-color: darkslategray;
  border-radius: 22px;
  color: paleturquoise;
  font-size: 20px;
} */

.contact-page-heading {
  color: paleturquoise;
  text-align: center;
}

.contact-team {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.contact-infos {
  display: flex;
  border: 3px solid darkgray;
  width: 55%;
  border-radius: 27px;
  background: paleturquoise;
  gap: 20px;
}

.contact-team-image {
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-left: 35px;
}

.each-team-name {
  color: black;
  text-align: center;
  width: 70%;
  font-size: 20px;
  font-weight: 500;
  text-decoration: underline;
}

.each-team-description {
  padding: 10px;
} 

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 40px;
}
.auth-inner {
  width: 450px;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}
.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}
.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.custom-control-label {
  font-weight: 400;
}

  @media only screen and (max-width: 460px) {
    .containr {
      flex-direction: column;
      width: 100%;
      margin: 35px;
    }
    .contains-box {
      width: 100%;
      height: 500px;
    }
    .contains-tabs {
      width: 90%;
      margin: 0;
      margin-top: -475px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .containr {
      flex-direction: column;
      width: 100%;
      margin: 35px
    }
    .contains-box {
      width: 100%;
      height: 500px;
    }
    .contains-tabs {
      width: 90%;
      margin: 0;
      margin-top: -475px;
    }
  }
  @media only screen and (max-width: 992px) {
    .containr {
      flex-direction: column;
      width: 100%;
      margin: 35px;
    }
    .contains-box {
      width: 100%;
      height: 500px;
    }
    .contains-tabs {
      width: 90%;
      margin: 0;
      margin-top: -475px;
    }
  }
  @media only screen and (max-width: 1600px) {
    .containr {
      flex-direction: column;
      width: 100%;
      margin: 35px;
    }
    .contains-box {
      width: 100%;
      height: 500px;
    }
    .contains-tabs {
      width: 90%;
      margin: 0;
      margin-top: -475px;
    }
  }

  @media only screen and (max-width: 2500px) {
    .containr {
      flex-direction: column;
      width: 100%;
      margin: 35px;
    }
    .contains-box {
      width: 100%;
      height: 500px;
    }
    .contains-tabs {
      width: 90%;
      margin: 0;
      margin-top: -475px;
    }
  }

  @media only screen and (min-width: 992px) {
 
    .containr-login {
      flex-direction: column;
        width: 90%;
        margin: 35px;
    }
  
    .login-form {
      width: 80%;
      margin: 0;
      margin-top: -475px;

    }
   }

  @media only screen and (min-width: 660px) {
 
    .containr-login {
      flex-direction: column;
        width: 300px;
        margin: 35px;
    }
  
    .login-box {
      width: 300px
    }
    .login-form {
      width: 250px;
      margin: 0;
      margin-top: -475px;

    }
   }
   
  @media only screen and (min-width: 305px) {
    .containr-login {
      flex-direction: column;
      width: 300px;
      height: 550px;
    }
  
    .login-box {
      width: 300px;
      height: 550px;
    }
    .login-form {
      width: 250px;
      margin: 0;
      margin-top: -475px;

    }
    
  }